@using EBS.Domain.ValueObject;
@using EBS.Infrastructure.Extension;
@model EBS.Domain.Entity.PurchaseContract
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .dataRow div {
        margin-bottom: 0px;
    }
</style>
<!-- demo root element -->
<div id="app" class="box box-primary">
    <div class="box-header with-border">
        <ol class="breadcrumb" style="padding:0px;margin:1px;">
            <li><a href="/PurchaseContract/Index"><i class="fa fa-dashboard"></i>采购合同管理</a></li>
            <li class="active"><a href="/PurchaseContract/Edit/{{model.id}}">修改采购合同</a></li>
        </ol>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form @*v-on:submit.prevent="onSubmit"*@>
        <div class="box-body">
            @*<v-form v-bind:valid.sync="valid">*@
                <div class="row">
                    <div class="form-group col-sm-4 col-xs-4">
                        <button type="button" class="btn btn-warning btn-flat" @*v-bind:disabled="!valid"*@ v-on:click="onSubmit" v-show="@ViewBag.Editable">保 存</button>
                        <a class="btn btn-default btn-flat" href="javascript:history.go(-1)">取 消</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-3">
                        <input type="hidden" v-model="model.id" />
                        <v-input type="text" label="合同编号*：" v-bind:value.sync="model.code" maxlength="30" placeholder="合同编号" required icon></v-input>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <v-input type="text" label="合同名*：" v-bind:value.sync="model.name" maxlength="50" placeholder="合同名" required icon></v-input>
                    </div>
                    <div class="form-group col-sm-2 col-xs-3">
                        <label for="inputPassword3" class="control-label">合同日期：</label>
                        <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd"
                             data-date-language="zh-CN" data-date-clear-btn="true" data-date-autoclose="true">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                                <span>从</span>
                            </div>
                            <input type="text" class="form-control" v-model="model.startDate" readonly>
                        </div>
                    </div>
                    <div class="form-group col-sm-2 col-xs-3">
                        <label for="inputPassword3" class="control-label">&nbsp;</label>
                        <div class="input-group date " data-provide="datepicker" data-date-format="yyyy-mm-dd"
                             data-date-language="zh-CN" data-date-clear-btn="true" data-date-autoclose="true">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                                <span>到</span>
                            </div>
                            <input type="text" class="form-control" v-model="model.endDate" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-2 col-xs-3">
                        <label for="inputPassword3" class="control-label">供应商:</label>
                        <div class="input-group ">
                            <input type="hidden" class="form-control" v-model="model.supplierId">
                            <input type="text" class="form-control" v-model="selectSupplier.name" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-flat btn-default" type="button" v-on:click="showSupplier"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2 col-xs-3">
                        <label for="inputPassword3" class="control-label">门店:</label>
                        <div class="input-group ">
                            <input type="hidden" class="form-control" v-model="model.storeId">
                            <input type="text" class="form-control" v-model="selectStore.name" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-flat btn-default" type="button" v-on:click="showStore"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2 col-xs-3">
                        <v-input type="text" label="联系人：" v-bind:value.sync="model.contact" placeholder="联系人" required icon></v-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <caption>
                                    <h3 class="panel-title">
                                        <button type="button" class="btn btn-success btn-flat" v-on:click="showModal()">导入商品明细</button>
                                        <button type="button" class="btn btn-success btn-flat" v-on:click="showHistory()">查看处理记录</button>
                                    </h3>
                                </caption>
                                <thead>
                                    <tr>
                                        <th style="width:30px;"></th>
                                        <th style="width:50px;">
                                        </th>
                                        <th style="width:150px;">编码</th>
                                        <th>品名</th>
                                        <th>品类</th>
                                        <th>规格</th>
                                        <th style="width:150px;">价格</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(index,item) in products">
                                        <td>{{index+1}}</td>
                                        <td style="width:50px;">
                                            @*<button class="btn btn-flat btn-success" title="添加行" v-on:click="addRow()"><span class="fa fa-plus"></span></button>*@
                                            <button type="button" class="btn btn-flat btn-success" title="删除行" v-on:click="removeRow(index)"><span class="fa fa-trash"></span></button>
                                        </td>
                                        <td>{{item.Code}}</td>
                                        <td>{{item.Name}}</td>
                                        <td>{{item.CategoryName}}</td>
                                        <td>{{item.Specification}}</td>
                                        <td class="dataRow">
                                            <input type="text" class="form-control" name="ContractPrice" v-model="item.ContractPrice" v-on:keyup.enter="inputNext($event)" />                                          
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            @*</v-form>*@
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="form-group col-sm-4 col-xs-4">
                    <button type="button" class="btn btn-warning btn-flat" @*v-bind:disabled="!valid"*@ v-on:click="onSubmit" v-show="@ViewBag.Editable">保 存</button>
                    <a class="btn btn-default btn-flat"  href="javascript:history.go(-1)">取 消</a>
                </div>
            </div>
        </div>
    </form>
    <!-- modal -->
    <v-modal title="导入商品" ok-text="确 定" cancel-text="取 消" v-bind:callback="importProduct" v-bind:show.sync="modal" v-bind:effect="fade" width="300">
        <div slot="modal-body" class="modal-body">
            <v-input type="textarea" help="请将excel中商品编号和价格两列粘贴到文本框中" v-bind:value.sync="inputProducts" placeholder="输入商品" required icon></v-input>
        </div>
    </v-modal>
    <v-modal title="流程处理记录" ok-text="确 定" cancel-text="取 消" v-bind:callback="closeHistory" v-bind:show.sync="historyBox" v-bind:effect="fade" width="600px">
        <div slot="modal-body" class="modal-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:30px"></th>
                            <th style="width:80px">处理人</th>
                            <th>状态</th>
                            <th>处理时间</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var index = 0;}
                        @foreach (var item in (IEnumerable<EBS.Domain.Entity.ProcessHistory>)ViewBag.Logs)
                        {
                            index += 1;
                            <tr>
                                <td>@(index)</td>
                                <td>@item.CreatedByName</td>
                                <td>@(((PurchaseContractStatus)item.Status).Description())</td>
                                <td>@item.CreatedOn</td>
                                <td>@item.Remark</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </v-modal>
    <v-modal title="选择供应商" ok-text="确 定" cancel-text="取 消" v-bind:callback="getSupplier" v-bind:show.sync="selectSupplier.modal" v-bind:effect="fade" width="60%">
        <div slot="modal-body" class="modal-body">
            <vue-table v-ref:vtable v-bind:columns="selectSupplier.gridColumns"
                       v-bind:url="selectSupplier.url" v-bind:show-toolbar="false"
                       v-bind:args="selectSupplier.searchArgs" v-bind:data.sync="selectSupplier.rows">
                <div class="row" style="margin-bottom:10px;" slot="customSearch">
                    <div class="col-xs-4 col-sm-3">
                        <input class="form-control" v-model="selectSupplier.searchArgs.code" placeholder="输入供应编码" debounce="300" />
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <input class="form-control" v-model="selectSupplier.searchArgs.name" placeholder="输入供应商名" debounce="300" />
                    </div>
                </div>
            </vue-table>
        </div>
    </v-modal>
    <v-modal title="选择门店" ok-text="确 定" cancel-text="取 消" v-bind:callback="getStore" v-bind:show.sync="selectStore.modal" v-bind:effect="fade" width="60%">
        <div slot="modal-body" class="modal-body">
            <vue-table v-ref:vtable v-bind:columns="selectStore.gridColumns"
                       v-bind:url="selectStore.url" v-bind:show-toolbar="false"
                       v-bind:args="selectStore.searchArgs" v-bind:data.sync="selectStore.rows">
                <div class="row" style="margin-bottom:10px;" slot="customSearch">
                    <div class="col-xs-4 col-sm-3">
                        <input class="form-control" v-model="selectStore.searchArgs.name" placeholder="输入门店名" debounce="300" />
                    </div>
                </div>
            </vue-table>
        </div>
    </v-modal>
</div>
@{Html.RenderPartial("VueTableTemplate");}
@section scripts{
    <script src="~/Content/Vue/vuetable/vuetable.js"></script>
    <script>
        $("doucument").ready(function () {
            var demo = new Vue({
                components: {
                    'v-modal': VueStrap.modal,
                    'v-input': VueStrap.input,
                    'v-form': VueStrap.formGroup
                },
                el: '#app',
                data: {
                    valid: false,
                    modal: false,
                    historyBox:false,
                    model: {
                        id: @Model.Id,
                        code: '@Model.Code',
                        storeId: @Model.StoreId,
                        name: '@Model.Name',
                        supplierId: @Model.SupplierId,
                        contact: '@Model.Contact',
                        startDate: '@Model.StartDate.ToString("yyyy-MM-dd")',
                        endDate: '@Model.EndDate.ToString("yyyy-MM-dd")',
                        items: ''
                    },
                    products: @Html.Raw(ViewBag.PurchaseContractItems),
                    inputProducts: '',
                    selectSupplier: {
                        modal: false,
                        name:'@ViewBag.SupplierName',
                        gridColumns: [
                            { name: 'Code', localName: '编码',  width: '100' },
                            { name: 'Name', localName: '供应商名', width: '300' },
                            { name: 'AreaName', localName: '供货区域', width: '200' },
                            { name: 'SupplierType', localName: '类型', width: '100' },
                        ],
                        url: "/Supplier/LoadData",
                        searchArgs: { name: '', code: '' },
                        rows: []
                    },
                    selectStore: {
                        modal: false,
                        name: '@ViewBag.StoreName',
                        gridColumns: [
                           { name: 'Name', localName: '门店名'},
                            { name: 'Contact', localName: '联系人' },
                            { name: 'Address', localName: '地址' }
                        ],
                        url: "/Store/LoadData",
                        searchArgs: { name: '' },
                        rows: []
                    }
                },
                methods: {
                    onSubmit: function () {
                        //获取选择节点
                        var _self = this;
                        var v_data = _self.model;
                        var data = "";
                        for (var i = 0; i < _self.products.length; i++) {
                            var item = _self.products[i];
                            data += "{\"PurchaseContractId\":" + _self.model.id +",\"ProductId\":" + item.ProductId + ",\"ContractPrice\":" + item.ContractPrice + "},";
                        }
                        if (data == "") {
                            bootbox.alert("请导入商品");
                            return;
                        }
                        data = data.substring(0, data.length - 1);
                        data = "[" + data + "]";
                        _self.model.items = data;
                        // 日期校验
                        if (_self.model.startDate == "" || _self.model.endDate == "") {
                            bootbox.alert("请输入合同日期");
                            return;
                        }
                        if (new Date(_self.model.endDate) < new Date(_self.model.startDate)) {
                            bootbox.alert("结束日期不能大于开始日期");
                            return;
                        }
                        $.post("/PurchaseContract/Edit", v_data, function (result) {
                            if (result.success) {
                                bootbox.alert("保存成功！", function () {
                                    window.location.href = "/PurchaseContract/Index";
                                });
                            }
                            else {
                                bootbox.alert(result.error);
                            }
                        }, "json");
                    },
                    importProduct: function () {
                        var data = this.inputProducts;
                        var _self = this;
                        $.post("/PurchaseContract/ImportProduct", { productCodePriceInput: data }, function (result) {
                            if (result.success) {
                                _self.products = [];
                                result.data.forEach(function (item) {
                                    _self.products.push(item);
                                });
                                _self.modal = false;
                            }
                            else {
                                bootbox.alert(result.error);
                            }
                        }, "json");
                    },
                    showModal: function () {
                        this.modal = true;
                    },
                    removeRow: function (index) {
                        this.products.splice(index, 1);
                    },
                    showHistory: function () {
                        this.historyBox = true;
                    },
                    closeHistory:function()
                    {
                        this.historyBox = false;
                    },
                    inputNext: function (event)
                    {                                         
                        var target = event.target;
                        var row = $(target).parent().parent();
                        if (row.next().length > 0) {
                            row.next().find("input[name='ContractPrice']").focus().select();
                        } 
                        else{
                            this.onSubmit();
                        }
                    },
                    showSupplier: function () {
                        this.selectSupplier.modal = true;
                    },
                    getSupplier: function () {
                        var selecteds = this.selectSupplier.rows.filter(function (item) {
                            return item.checked;
                        });
                        if (selecteds)
                        {
                            this.model.supplierId = selecteds[0].Id;
                            this.selectSupplier.name =selecteds[0].Name;
                            this.selectSupplier.modal = false;
                        }
                    },
                    showStore: function () {
                        this.selectStore.modal = true;
                    },
                    getStore: function () {
                        var selecteds = this.selectStore.rows.filter(function (item) {
                            return item.checked;
                        });
                        if (selecteds) {
                            this.model.storeId = selecteds[0].Id;
                            this.selectStore.name = selecteds[0].Name;
                            this.selectStore.modal = false;
                        }
                    }
                }
            });
        });

       

    </script>
}


