@using EBS.Infrastructure.Extension;
@model EBS.Query.DTO.StorePurchaseOrderDto
@{
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Layout = null;
    var title = string.Format("采购{0}", Model.OrderType.Description());
    var aqtyName = Model.OrderType == EBS.Domain.ValueObject.OrderType.Order ? "实收数" : "实退数";
    var aAmountName = Model.OrderType == EBS.Domain.ValueObject.OrderType.Order ? "实收金额" : "实退金额";
    var operateName = Model.OrderType == EBS.Domain.ValueObject.OrderType.Order ? "收货人" : "退货人";
    var operateInventoryName = Model.OrderType == EBS.Domain.ValueObject.OrderType.Order ? "入库人" : "出库人";
}
<style>
    .dataRow div {
        margin-bottom: 0px;
    }
</style>
<!-- demo root element -->
<div class="box box-primary"> 
    <form>
        <div id="printTemplate" class="box-body table-printfontsize">
            <div class="row">
                <div class="col-xs-4 col-sm-4"></div>
                <div class="col-xs-4 col-sm-4">
                    <h4 class="text-center text-success" style="border-bottom:2px solid;padding-bottom:1px;">
                        <b>
                            @title @if (Model.IsGift)
                            {<span>(赠品)</span>}
                        </b>
                    </h4>
                </div>
                <div class="col-xs-4 col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <span>供应商：@Model.SupplierName</span>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <span>单据号：@Model.Code</span>
                </div>
                <div class="col-xs-4 col-sm-4 ">
                    <span>备注：@Model.SupplierBill</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <span>收货部门：@Model.StoreName</span>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <span class="text-danger">单据状态：@Model.PurchaseOrderStatus</span>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <span>制单日期：@Model.CreatedOn</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-printfontsize">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>商品编码</th>
                                    <th>条码</th>
                                    <th>品名</th>
                                    <th>规格</th>
                                    <th>单位</th>
                                    <th>进价</th>
                                    <th>件数</th>
                                    <th>数量</th>
                                    <th>金额</th>
                                    <th>@aqtyName</th>
                                    <th>@aAmountName</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                @{
                                    var index = 1;
                                }
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td class="text-center">@(index++)</td>
                                        <td>@item.ProductCode</td>
                                        <td>@item.BarCode</td>
                                        <td>@item.ProductName</td>
                                        <td>@item.Specification</td>
                                        <td>@item.Unit</td>
                                        <td>@item.Price.ToString("F2")</td>
                                        <td>@item.PackageQuantity</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Amount.ToString("F2")</td>
                                        <td>@(Model.Status == EBS.Domain.ValueObject.PurchaseOrderStatus.Create ? "" : item.ActualQuantity.ToString())</td>
                                        <td>@(Model.Status == EBS.Domain.ValueObject.PurchaseOrderStatus.Create ? "" : item.ActualAmount.ToString("F2"))</td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td>合计：</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@Model.SumQuantity</td>
                                    <td>@Model.SumAmount.ToString("F2")</td>
                                    <td>@(Model.Status == EBS.Domain.ValueObject.PurchaseOrderStatus.Create ? "" : Model.SumActualQuantity.ToString())</td>
                                    <td>@(Model.Status == EBS.Domain.ValueObject.PurchaseOrderStatus.Create ? "" : Model.SumActualAmount.ToString("F2"))</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <span>制单人：@Model.CreatedByName</span>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <span>供应商： </span>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <span>@operateName：@Model.ReceivedByName</span>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <span>@operateInventoryName：@Model.StoragedByName</span>
                </div>
            </div>
            @*<div style="page-break-after: always;"></div>*@
        </div>   
    </form>
           
</div>




