@using EBS.Domain.ValueObject;
@using EBS.Infrastructure.Extension
@model EBS.Query.DTO.StorePurchaseOrderDto
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .dataRow div {
        margin-bottom: 0px;
    }
</style>
<!-- demo root element -->
<div id="app" class="box box-primary">
    <div class="box-header with-border">
        <ol class="breadcrumb" style="padding:0px;margin:1px;">
            <li><a href="/StorePurchaseOrder/WaitRefundIndex"><i class="fa fa-dashboard"></i>采购退单-退货</a></li>
            <li class="active"><a href="/StorePurchaseOrder/WaitStockOut/{{model.id}}">退货出库</a></li>
        </ol>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form>
        <div class="box-body">
            <div class="row">
                <div class="form-group col-sm-4 col-xs-6">
                    <button type="button" class="btn btn-warning btn-flat" v-on:click="onSubmit" v-bind:disabled="isSubmit">保 存</button>
                    <button type="button" class="btn btn-success btn-flat" v-on:click="saveInventory" v-bind:disabled="isSubmit">出 库</button>
                    <button type="button" class="btn btn-primary btn-flat" v-on:click="print">打 印</button>
                    <a class="btn btn-default btn-flat" href="javascript:history.go(-1)">取 消</a>
                    <input type="hidden" v-model="model.id" />
                    <input type="hidden" class="form-control" v-model="model.supplierId">
                    <input type="hidden" class="form-control" v-model="model.storeId">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-3">

                    <div class="input-group">
                        <input type="text" class="form-control productCode" v-model="inputProductCodeOrBarCode" v-on:keyup.enter="inputProduct()" placeholder="输入商品编码或扫条码" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-warning btn-flat" v-on:click="toggleScan">扫码({{toggleScanText}})</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-3">
                    <v-input type="text" v-bind:value.sync="model.supplierBill" placeholder="录入备注" maxlength="100" required icon></v-input>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4"></div>
                <div class="col-xs-4 col-sm-4"><h3 class="text-center text-danger" style="border-bottom:2px solid;padding-bottom:1px;"><b>采购退单<span v-show="model.isGift">(赠品)</span></b></h3></div>
                <div class="col-xs-4 col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <span>供应商：{{model.supplierName}}</span>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <span>单据号：{{model.code}}</span>  
                </div>
                <div class="col-xs-4 col-sm-4 ">
                    <span>备注：{{model.supplierBill}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <span>退货部门：{{model.storeName}}</span>
                </div>
                <div class="col-xs-4 col-sm-4 ">
                    <span class="text-danger">单据状态：{{model.status}}</span>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <span>制单日期：{{model.createdOn}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:50px;">序号</th>
                                    <th style="width:150px;">商品编码</th>
                                    <th>条码</th>
                                    <th style="width:150px;">品名</th>
                                    <th>规格</th>
                                    <th>单位</th>
                                    <th>合同进价</th>
                                    <th>进价</th>
                                    <th>件规</th>
                                    <th>退货件数</th>
                                    <th>退货数量</th>
                                    <th>实退件数</th>
                                    <th>实退数量</th>
                                    <th>金额</th>
                                    <th>生产日期</th>
                                    <th>保质期</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                <tr v-for="(index,item) in products" class="{{item.BgColor}}">
                                    <td class="text-center">{{index+1}}</td>
                                    <td>
                                        {{item.ProductCode}}
                                        @*<input type="text" class="form-control productCode" v-model="item.ProductCode" v-on:keyup.enter="inputProduct(item.ProductCode,index)" placeholder="录入编码或扫码" />*@
                                    </td>
                                    <td>{{item.BarCode}}</td>
                                    <td>{{item.ProductName}}</td>
                                    <td>{{item.Specification}}</td>
                                    <td>{{item.Unit}}</td>
                                    <td>{{item.ContractPrice.toFixed(4)}}</td>
                                    <td>{{model.isGift?0:item.Price.toFixed(4)}}</td>
                                    <td>
                                        1 × {{item.SpecificationQuantity}}
                                    </td>
                                    <td>{{item.PackageQuantity}}</td>
                                    <td>
                                        {{item.Quantity}}

                                    </td>
                                    <td>{{item.ActualPackageQuantity}}</td>
                                    <td>
                                        <input type="number" class="form-control quantity" v-model="item.ActualQuantity" v-on:keyup.enter="inputNext($event)" />
                                    </td>
                                    <td>{{item.Amount.toFixed(2)}}</td>
                                    <td>
                                        {{item.ProductionDate}}
                                        @*<input type="text" class="form-control datepicker" v-model="item.ProductionDate" readonly>*@
                                    </td>
                                    <td>
                                        {{item.ShelfLife}}
                                        @*<input type="number" class="form-control shelfLife" title="保质期，单位：天" v-model="item.ShelfLife" v-on:keyup.enter="inputShelfLife($event)" />*@
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td style="width:50px;"></td>
                                    <td>合计：</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{totalQuantity}}</td>
                                    <td></td>
                                    <td>{{totalActualQuantity}}</td>
                                    <td>{{countTotal.toFixed(2)}}</td>
                                    <td></td>
                                    <td class="dataRow"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <span>制单人：{{model.createdByName}}</span>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <span>供应商： </span>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <span>退货人：{{model.receivedByName}}</span>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <span>出库人：{{model.storagedByName}}</span>
                </div>
            </div>
        </div>
        <br /> 
        <div id="printDiv"></div>        
    </form>
</div>
@{Html.RenderPartial("VueTableTemplate");}
@section scripts{
    <script src="~/Content/Vue/vuetable/vuetable.js"></script>
<script src="~/Scripts/jquery.PrintArea.js"></script>
    <script>
        $("doucument").ready(function () {
            var demo = new Vue({
                components: {
                    'v-input': VueStrap.input
                },
                el: '#app',
                data: {
                    inputProductCodeOrBarCode:'',
                    model: {
                        id: @Model.Id,
                        code: '@Model.Code',
                        storeId: @Model.StoreId,
                        storeName:'@Model.StoreName',
                        supplierId: @Model.SupplierId,
                        supplierName:'@Model.SupplierName',
                        supplierBill:'@Model.SupplierBill',
                        isGift:@Model.IsGift.ToString().ToLower(),
                        status:'@Model.PurchaseOrderStatus',
                        createdOn:'@Model.CreatedOn',
                        createdByName:'@Model.CreatedByName',
                        receivedByName:'@Model.ReceivedByName',
                        storagedByName:'@Model.StoragedByName',
                        items: ''
                    },
                    products: @Html.Raw(ViewBag.StorePurchaseOrderItems),
                    totalQuantity: 0,
                    totalActualQuantity:0,
                    toggleScanText:'关',
                    isSubmit:false,
                },
                methods: {
                    onSubmit: function () {
                        //获取选择节点
                        var _self = this;
                        var data = "";
                        for (var i = 0; i < _self.products.length; i++) {
                            var item = _self.products[i];                           
                            if (item.ProductId > 0 && item.ActualQuantity > 0 && item.ActualQuantity<=item.Quantity) {
                                var price = _self.model.isGift?0:item.Price;
                                if(item.ProductionDate==null){
                                    item.ProductionDate="";
                                }
                                data += "{\"Id\":" + item.Id + ",\"ActualQuantity\":" + item.ActualQuantity + ",\"ProductionDate\":\"" + item.ProductionDate + "\",\"ShelfLife\":" + item.ShelfLife + "},";
                            }
                        }
                        if (data == "") {
                            bootbox.alert("请导入商品或商品数量不正确");
                            return;
                        }
                        data = data.substring(0, data.length - 1);
                        data = "[" + data + "]";
                        if( _self.model.supplierBill==""){
                            bootbox.alert("请录入备注信息，例如供应商单号，日期等");
                            return;
                        }
                        _self.model.items = data;
                        var v_data = _self.model;
                        _self.isSubmit = true;
                        $.post("/StorePurchaseOrder/ReceiveGoods", v_data, function (result) {
                            if (result.success) {
                                bootbox.alert("保存成功！");
                                //更改状态
                                _self.model.status ="待出库";
                            }
                            else {
                                bootbox.alert(result.error);
                            }
                            _self.isSubmit = false;
                        }, "json");
                    },
                    saveInventory:function(){
                        var _self = this;
                        bootbox.confirm("您确定提交该记录？", function (result) {
                            if (result) {
                                _self.isSubmit = true;
                                $.post("/StorePurchaseOrder/StockOutInventory", {id:_self.model.id}, function (result) {
                                    if (result.success) {                                       
                                        bootbox.confirm("出库成功！您要打印此单据吗？选择是 打印，选择取消返回列表！", function (sure) {
                                            if(sure){
                                                _self.print();
                                            }
                                            else{
                                                window.location.href = "/StorePurchaseOrder/WaitRefundIndex";
                                            }                                           
                                        });
                                    }
                                    else {
                                        bootbox.alert(result.error);
                                    }
                                    _self.isSubmit = false;
                                }, "json");
                            }
                        });
                    },
                    inputNext: function (event) {
                        var target = event.target;
                        var row = $(target).parent().parent();
                        if (row.next().length > 0) {
                            row.next().find("input.quantity").focus().select();
                        }
                    },
                    inputShelfLife:function(){
                        var target = event.target;
                        var row = $(target).parent().parent();
                        if (row.next().length > 0) {
                            row.next().find("input.shelfLife").focus().select();
                        }
                    } ,
                    // 扫码
                    inputProduct:function(){
                        var _self = this;
                        this.products.forEach(function (item) {
                            if(item.ProductCode==_self.inputProductCodeOrBarCode||item.BarCode==_self.inputProductCodeOrBarCode)
                            {
                                var actualQty = parseInt(item.ActualQuantity);
                                item.ActualQuantity=actualQty<item.Quantity ? actualQty + 1 :item.Quantity ;
                                _self.inputProductCodeOrBarCode = "";
                               // item.BgColor = item.ActualQuantity==item.Quantity ?"bg-success":"bg-danger";
                                return;
                            }
                        })
                    },
                    toggleScan:function(){
                        var _self = this;
                        _self.toggleScanText = _self.toggleScanText=="关"?"开":"关" ;
                        _self.products.forEach(function (item) {
                            item.ActualQuantity = _self.toggleScanText=="关"? item.Quantity : 0 ;
                           // item.BgColor = item.ActualQuantity==item.Quantity ?"bg-success":"bg-danger";
                        })
                    },
                    print: function () {
                        var data = {id:this.model.id};
                        $.get("/StorePurchaseOrder/Print", data, function (result) {
                            $("#printDiv").html(result);
                            $("#printTemplate").printArea();
                            $("#printDiv").html("");
                        });
                    },
                },
                computed: {
                    countTotal: function () {
                        var total = 0;
                        var bookQty = 0;
                        var totalActualQty = 0;
                        var _self = this;
                        this.products.forEach(function (item) {
                            var qty = parseInt(item.Quantity);
                            var actualQty = parseInt(item.ActualQuantity);
                            var price = _self.model.isGift?0:item.Price;
                            item.Amount = price * actualQty;
                            bookQty += qty;
                            total += item.Amount;
                            totalActualQty+= actualQty;
                            //item.PackageQuantity =item.SpecificationQuantitys[0]==1?0: parseInt(qty / item.SpecificationQuantitys[0]);
                            item.ActualPackageQuantity =item.SpecificationQuantity==1?0: parseInt(qty / item.SpecificationQuantity);
                            //设置颜色
                            item.BgColor = item.ActualQuantity==item.Quantity ?"bg-success":"bg-danger";
                        })
                        _self.totalQuantity = bookQty;
                        _self.totalActualQuantity = totalActualQty;
                        return total;
                    }
                },
                watch:{

                }

            });

            $(".datepicker").datepicker({
                language: "zh-CN",
                autoclose: true,//选中之后自动隐藏日期选择框
                clearBtn: true,//清除按钮
                //todayBtn: true,//今日按钮
                format: "yyyy-mm-dd"//日期格式
            });

            $(".productCode").focus();
        });
    </script>
}







