@model EBS.Query.DTO.TransferOrderDto
<div id="printTemplate" class="table-printfontsize12">
    <div class="row">
        <div class="col-xs-4 col-sm-4"></div>
        <div class="col-xs-4 col-sm-4"><h3 class="text-center text-danger" style="border-bottom:2px solid;padding-bottom:1px;"><b>调 拨 单</b></h3></div>
        <div class="col-xs-4 col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            <span>调出门店：@Model.FromStoreName</span>
        </div>
        <div class="col-xs-4 col-sm-4 text-center">
        </div>
        <div class="col-xs-4 col-sm-4 ">
            <span>单据号：@Model.Code</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            <span>调入门店：@Model.ToStoreName</span>
        </div>
        <div class="col-xs-4 col-sm-4 text-center">
            单据状态：@Model.StatusName
        </div>
        <div class="col-xs-4 col-sm-4">
            <span>制单日期：@Model.CreatedOn.ToString("yyyy-MM-dd HH:mm:ss")</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered table-printfontsize">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>商品编码</th>
                            <th>条码</th>
                            <th>品名</th>
                            <th>规格</th>
                            <th>单位</th>
                            <th>进价</th>
                            <th>数量</th>
                            <th>金额</th>
                            <th>批次</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @{
                            var index = 0;
                            var totalQuanttiy = 0;
                            var totalAmount = 0m;
                        }
                        @foreach (var item in Model.Items)
                        {
                            index += 1;
                            totalQuanttiy += item.Quantity;
                            totalAmount += item.Price * item.Quantity;
                            <tr>
                                <td class="text-center">@index</td>
                                <td>
                                    @item.ProductCode
                                </td>
                                <td>@item.BarCode</td>
                                <td>@item.ProductName</td>
                                <td>@item.Specification</td>
                                <td>@item.Unit</td>
                                <td>@item.Price.ToString("F4")</td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>@item.Amount.ToString("F2")</td>
                                <td>@item.BatchNo</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>合计：</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@totalQuanttiy</td>
                            <td>@totalAmount.ToString("F2")</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-3">
            <span>制单人：@Model.CreatedByName</span>
        </div>
        <div class="col-xs-3 col-sm-3">
            <span></span>
        </div>
        <div class="col-xs-3 col-sm-3">
            <span>审核人：@Model.UpdatedByName</span>
        </div>
        <div class="col-xs-3 col-sm-3">
            <span></span>
        </div>
    </div>
</div>
